.verde{
    color: green;
    font-size: 80px;
}

.uno{
    font-size: 25px;
}
 
.dos{
    font-size: 25px;
}

.tres{
    font-size: 25px;
}

ul{
    font-size: 25x;
    color: black;
}

img {
    width: 250px; /* Ancho deseado para la imagen */
    height: auto; /* Altura se ajusta automáticamente para mantener la proporción */
}

header nav ul li {
    display: inline-block; /* Los elementos de la lista se muestran en línea */
    margin-right: 10px; /* Espacio entre los elementos de la lista */
}
header nav ul li a {
    color: black; /* Color del texto del enlace */
    text-decoration: none; /* Quita el subrayado predeterminado */
    border: 3px solid green; /* Borde de 1px de ancho y color negro */
    border-radius: 5px;
    padding: 5px 10px; /* Espacio interno alrededor del texto del enlace */
}
